/* CSS Reset */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
  border: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 700px;
}

ul,
ol {
  list-style: none;
}

/* Utility Classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
  flex-direction: column;
  text-align: center;
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  max-width: 80%;
  margin-inline: auto;
}

.section {
  margin: 2rem 0;
}

/* Header */
#header {
  background-color: rgb(56, 55, 55);
  margin-top: 0;
}
.nav-container {
  padding: 1rem 0;
  place-items: center;
  justify-content: space-between;
}
.nav-links {
  display: none;
}
/* Hero Section */
.hero-container {
  gap: 2rem;
}
.hero-container > * {
  flex-basis: 50%;
}
.hero-content {
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.hero-text {
  margin-bottom: 1rem;
}
.hero-button {
  width: 7rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7rem 0.5rem;
  background-color: rgb(20, 20, 222);
  border-radius: 0.3rem;
  cursor: pointer;
  margin: 0 auto;
}
.hero-button:hover {
  background-color: rgb(70, 70, 234);
}
/* Form */
.form-container {
  padding: 2rem 0;
}
.form-container > * {
  flex-basis: 50%;
}
.form-input {
  width: 70%;
  padding: 1rem 0.5rem;
  border-radius: 0.3rem;
}
.form-input::placeholder {
  font-size: 1rem;
}
.form-button {
  background-color: rgb(20, 20, 222);
  font-size: 1.2rem;
  padding: 0.8rem 1.3rem;
}
/* Courses */
.courses-container {
  gap: 2rem;
  color: black;
}
.courses-container > * {
  flex-basis: 50%;
}
.courses-content {
  flex-direction: column;
  justify-content: center;
  order: 1;
}
.courses-img {
  order: 2;
}
.courses-title {
  font-size: 1.8rem;
  text-transform: capitalize;
}
.courses-button {
  width: 7rem;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.7rem 0.5rem;
  background-color: rgb(20, 20, 222);
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  margin: 0 auto;
}
.courses-button:hover {
  background-color: rgb(70, 70, 234);
}
/* Contact */
.contact-container {
  color: black;
  gap: 2rem;
}
.contact-container > * {
  flex-basis: 50%;
}
.contact-table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-width: 0.2rem;
}
.table-title {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
.location-iframe {
  border-radius: 0.5rem;
}
/* Footer */
#footer {
  background-color: rgb(56, 55, 55);
}
.footer-container {
  text-align: center;
  padding: 2rem 0;
}

/* Media Queries */
@media (min-width: 993px) {
  .nav-container,
  .nav-list,
  .hero-container,
  .form-container,
  .courses-container,
  .contact-container,
  .table-container {
    flex-direction: row;
  }
  .nav-links {
    display: block;
  }
  .flex {
    text-align: start;
  }
  .hero-button,
  .courses-button {
    margin: 0;
  }
}
